---
import Layout from "../layouts/Layout.astro";
import MovieCollection from "../components/MovieCollection.svelte";
---

<Layout title="Collection">
  <section class="row">
    <section class="col">
      <MovieCollection client:only="svelte" />
    </section>
  </section>
</Layout>
