---
import Layout from "../layouts/Layout.astro";
import MovieCollection from "../components/MovieCollection.svelte";
---

<Layout title="Collection">
  <div class="row">
    <div class="col">
      <MovieCollection client:only="svelte" />
    </div>
  </div>
</Layout>
