---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Credits">
  <div class="row">
    <div class="col">
      <h1 class="mb-3">Credits</h1>
      <dl>
        <div class="mb-3">
          <dt>The Movie Database</dt>
          <dd>
            Movie information, video links, and poster images provided by The
            Movie Database (TMDB)
          </dd>
          <dd>
            This product uses the TMDB API but is not endorsed or certified by
            TMDB.
          </dd>
          <dd>
            <a href="https://www.themoviedb.org/">https://www.themoviedb.org/</a
            >
          </dd>
        </div>
        <div class="mb-3">
          <dt>Add to Calendar Button</dt>
          <dd>Add to Calendar option provided by Add to Calendar Button</dd>
          <dd>
            <a href="https://add-to-calendar-button.com/"
              >https://add-to-calendar-button.com/</a
            >
          </dd>
        </div>
        <div class="mb-3">
          <dt>Bigger Picture</dt>
          <dd>Loading YouTube videos to full screen uses Bigger Picture</dd>
          <dd>
            <a href="https://biggerpicture.henrygd.me/"
              >https://biggerpicture.henrygd.me/</a
            >
          </dd>
        </div>
        <div class="mb-3">
          <dt>FontAwesome</dt>
          <dd>Icons are from FontAwesome version 6</dd>
          <dd>
            <a href="https://fontawesome.com/">https://fontawesome.com/</a>
          </dd>
        </div>
        <div class="mb-3">
          <dt>BootStrap</dt>
          <dd>
            BootStrap version 5.3.3 is used for layouts, buttons, and styling
            form inputs
          </dd>
          <dd>
            <a href="https://getbootstrap.com/docs/"
              >https://getbootstrap.com/docs/</a
            >
          </dd>
        </div>
        <div class="mb-3">
          <dt>GitHub</dt>
          <dd>Code hosted on GitHub</dd>
          <dd>
            <a href="https://github.com/paddyfed/movies-movies-movies"
              >https://github.com/paddyfed/movies-movies-movies</a
            >
          </dd>
        </div>
        <div class="mb-3">
          <dt>GitHub Pages</dt>
          <dd>Site hosted on GitHub Pages</dd>
          <dd>
            <a href="https://paddyfed.github.io/movies-movies-movies/"
              >https://paddyfed.github.io/movies-movies-movies/</a
            >
          </dd>
        </div>
      </dl>
    </div>
  </div>
</Layout>
