---
import Layout from "../layouts/Layout.astro";

const options = {
  method: "GET",
  headers: {
    accept: "application/json",
    Authorization: import.meta.env.PUBLIC_API_ACCESS_TOKEN,
  },
};

const data = await fetch(
  `https://api.themoviedb.org/3/genre/movie/list?language=en`,
  options
).then((r) => r.json());
---

<Layout title="Genre">
  <main class="container">
    <h1>Genre</h1>
    <p>Discover movies by Genre</p>
    <ul>
      {
        data.genres.map((x) => (
          <li>
            <a
              href={
                import.meta.env.BASE_URL +
                "/genre/" +
                encodeURIComponent(x.name.toLowerCase())
              }
            >
              {x.name}
            </a>
            {/* {x.name} */}
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    display: block;
  }
  @media (min-width: 576px) {
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1em;
    }
  }
</style>
