---
import Layout from "../layouts/Layout.astro";

const options = {
  method: "GET",
  headers: {
    accept: "application/json",
    Authorization: import.meta.env.PUBLIC_API_ACCESS_TOKEN,
  },
};

// Get a list of Genres from the API to display as links to the user
const data = await fetch(
  `https://api.themoviedb.org/3/genre/movie/list?language=en`,
  options
).then((r) => r.json());
---

<Layout title="Genre">
  <h1>Genre</h1>
  <h2>Discover movies by Genre</h2>
  <ul>
    {
      data.genres.map((genre) => (
        <li>
          <a
            href={
              import.meta.env.BASE_URL +
              "/genre/" +
              encodeURIComponent(genre.name.toLowerCase())
            }
          >
            {genre.name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  /* on mobile, show the list of genres in one column */
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  /* on bigger screens, show the list of genres in a grid of 5 columns */
  @media (min-width: 576px) {
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1em;
    }
  }
</style>
