---
import MovieScroll from "../components/MovieScroll.svelte";
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import MainPageSearch from "../components/MainPageSearch.svelte";
import BrandImage from "../images/MoviesMoviesMovies_logo_path.svg";
---

<Layout title="Movies Movies Movies">
  <main class="container-fluid">
    <section class="row">
      <section
        class="col mb-5 d-flex flex-column align-items-center justify-content-evenly"
      >
        <h1 class="mb-5">
          <Image
            src={BrandImage}
            alt="Movies Movies Movies"
            class="img-fluid"
            width={500}
          />
        </h1>
        <MainPageSearch client:only="svelte" />
      </section>
    </section>
    <section class="row">
      <section class="col-12 mb-3">
        <h2 class="mb-3">Popular Movies</h2>
        <MovieScroll movieList=`popular` client:only="svelte" />
      </section>
      <section class="col-12 mb-3">
        <h2 class="mb-3">Now Playing Movies</h2>
        <MovieScroll movieList=`now_playing` client:only="svelte" />
      </section>
      <section class="col-12 mb-3">
        <h2 class="mb-3">Top Rated Movies</h2>
        <MovieScroll movieList=`top_rated` client:only="svelte" />
      </section>
    </section>
  </main>
</Layout>
