---
import MovieScroll from "../components/MovieScroll.svelte";
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import MainPageSearch from "../components/MainPageSearch.svelte";
import BrandImage from "../images/MoviesMoviesMovies_logo_path.svg";
---

<Layout>
  <div class="row">
    <div
      class="col mb-5 d-flex flex-column align-items-center justify-content-evenly"
    >
      <h1 class="mb-5">
        <Image
          src={BrandImage}
          alt="Movies Movies Movies"
          class="img-fluid"
          width={300}
          loading="eager"
        />
      </h1>
      <MainPageSearch client:only="svelte" />
    </div>
  </div>
  <section class="row">
    <h2 class="mb-5 text-center">Discover a new favourite below</h2>
    <section class="col mb-3">
      <h3 class="mb-3" id="movie-list-popular">Popular Movies</h3>
      <MovieScroll movieList=`popular` client:load />
    </section>
    <section class="col mb-3">
      <h3 class="mb-3" id="movie-list-now_playing">Now Playing Movies</h3>
      <MovieScroll movieList=`now_playing` client:load />
    </section>
    <section class="col mb-3">
      <h3 class="mb-3" id="movie-list-top_rated">Top Rated Movies</h3>
      <MovieScroll movieList=`top_rated` client:load />
    </section>
  </section>
</Layout>
