---
import MovieScroll from "../components/MovieScroll.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Movies Movies Movies">
  <main class="container-fluid">
    <section class="row">
      <section class="col-12 mb-3">
        <h2 class="mb-3">Popular Movies</h2>
        <MovieScroll
          fetchUrl=`/3/movie/popular?language=en-US`
          client:only="svelte"
        />
      </section>
      <section class="col-12 mb-3">
        <h2 class="mb-3">Now Playing Movies</h2>
        <MovieScroll
          fetchUrl=`/3/movie/now_playing?language=en-US`
          client:only="svelte"
        />
      </section>
      <section class="col-12 mb-3">
        <h2 class="mb-3">Top Rated Movies</h2>
        <MovieScroll
          fetchUrl=`/3/movie/top_rated?language=en-US`
          client:only="svelte"
        />
      </section>
    </section>
  </main>
</Layout>
