---
import Layout from "../layouts/Layout.astro";
import MovieDetails from "../components/MovieDetails.svelte";
---

<Layout title="Movie">
  <a href={import.meta.env.BASE_URL}>Back</a>
  <MovieDetails client:only="svelte" />
</Layout>
