---
import Layout from "../layouts/Layout.astro";
import MovieDetails from "../components/MovieDetails.svelte";
---

<Layout title="Movie">
  <div class="row">
    <div class="col-12">
      <MovieDetails client:only="svelte" />
    </div>
  </div>
</Layout>
