---
import Layout from "../layouts/Layout.astro";
import MovieDetails from "../components/MovieDetails.svelte";
---

<Layout title="Movie">
  <main class="container">
    <section class="row">
      <section class="col-12">
        <MovieDetails client:only="svelte" />
      </section>
    </section>
  </main>
</Layout>
