---
import Layout from "../layouts/Layout.astro";
import ViewMyRatings from "../components/ViewMyRatings.svelte";
---

<Layout title="Wish List">
  <section class="row">
    <section class="col">
      <ViewMyRatings client:only="svelte" />
    </section>
  </section>
</Layout>
