---
import Layout from "../layouts/Layout.astro";
import ViewMyRatings from "../components/ViewMyRatings.svelte";
---

<Layout title="Wish List">
  <div class="row">
    <div class="col">
      <h1 class="mb-3">My Ratings</h1>
      <ViewMyRatings client:only="svelte" />
    </div>
  </div>
</Layout>
