---
import Layout from "../layouts/Layout.astro";
import SearchResults from "../components/SearchResults.svelte";
---

<Layout title="Search Results">
  <div class="row">
    <div class="col-12">
      <SearchResults client:only="svelte" />
    </div>
  </div>
</Layout>
