---
import Layout from "../layouts/Layout.astro";
import ViewWishList from "../components/ViewWishList.svelte";
---

<Layout title="Wish List">
  <section class="row">
    <section class="col">
      <ViewWishList client:only="svelte" />
    </section>
  </section>
</Layout>
