---
import Layout from "../layouts/Layout.astro";
import ViewWishList from "../components/ViewWishList.svelte";
---

<Layout title="Hi">
  <h1>Hi</h1>
  <ViewWishList client:only="svelte" />
</Layout>
