---
import Image from "astro/components/Image.astro";
import tmDbLogo from "../images/TmDb_Logo.svg";
---

<div class="container">
  <div
    class="row justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-3 mb-3 align-items-center">
      <span>
        © {new Date().getFullYear()} Paddy O'Hara
      </span>
    </div>
    <div class="col-md-3 mb-3 align-items-center">
      <div class="d-flex align-items-center">
        <div class="me-3">
          This product uses the TMDB API but is not endorsed or certified by
          TMDB.
        </div>
        <div>
          <a href="https://www.themoviedb.org/">
            <Image src={tmDbLogo} alt="themoviedb.org" width="80" height="50" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
