---
const { scrollTitle, scrollMovieList } = Astro.props;

const imgPosterUrl = "http://image.tmdb.org/t/p/";
const imgPosterSize = "w185/";
---

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5em;
  }

  img {
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  img:hover {
    opacity: 0.5;
  }

  section {
    overflow-y: auto;
  }
</style>
<h1>{scrollTitle}</h1>
<section>
  <ul>
    {
      scrollMovieList.map((movie) => (
        <li>
          <a href={import.meta.env.BASE_URL + "/movie?movieId=" + movie.id}>
            <img
              src={imgPosterUrl + imgPosterSize + movie.poster_path}
              alt={movie.title}
              title={movie.title}
            />
          </a>
        </li>
      ))
    }
  </ul>
</section>
